{% extends 'base/base.html' %}
{% block content %}						
{% if perms.loginapp.pueden_ver_reportes %}
	<div class="container">
	  <div class="row">
         
		<div class="col-sm">
		 <!-- Highcharts display -->
		 <div class="border" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

		 <!-- Table data -->
		 <h2 class="pt-4">Detalle de porcentaje del sensor</h2>
		 <p class="text-danger">Datos de los porcentages de sensores.</p>
		 <table class="table table-striped table-sm">
				<thead>
				  <tr>
					<th>Fecha</th>
					<th>Porcentaje</th>
				  </tr>
				</thead>
				<tbody>
				  {% for dato in datos %}
				  	{% if dato.porcetage < 30 %}
					<tr class="bg-danger">
					{% else %}
					<tr>
					{% endif %}
					  <td>{{ dato.fecha }}</td>
					  <td>{{ dato.porcetage }} %</td>			  
					</tr>
				  {% endfor %}
				</tbody>
			  </table>
		</div>
		<div id="container"></div>
		<script src="https://code.highcharts.com/highcharts.src.js"></script>
		<script>
		Highcharts.chart('container', {
			chart: {
				type: 'line'
			},
			title: {
				text: 'Sensor porcentaje inventario'
			},
			xAxis: {
				categories: [
					{% for dato in datos %}'{{ dato.fecha }}'{% if not forloop.last %}, {% endif %}{% endfor %}
				]
			},
			series: [{
				name: 'Porcentaje',
				data: [
					{% for dato in datos %}{{ dato.porcetage }}{% if not forloop.last %}, {% endif %}{% endfor %}
				],
				color: '#33AAD7'
			}]
		});
		</script>
	</div>
{% else %}
<p>No puede ver los reportes, contacte con el administrador.</p>
{% endif %}

	
</body>
<script type="text/javascript" >
	function actualizar(){location.reload(true);}
//Función para actualizar cada 4 segundos(4000 milisegundos)
  setInterval("actualizar()",20000);


</script>
{% endblock %}