<!-- pp -->
<ul class="nav nav-list">
    <li class="active">
        <a href="{% url 'main' %}">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
        <b class="arrow"></b>
    </li>


    {% for key, value in datos2.items %}
    <li id="">
        <a href="#" class="dropdown-toggle">
            {% for ic in value.icono %}
                <i class="{{ic}}"></i>
            {% endfor %}

            <span class="menu-text">
                {{ key }}
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <ul class="submenu">
            {% for valor in value.submenu %}
                {% if valor != 'No' %}
                    <li class="">
                        {% for  valeria,datos in datos4.items %}
                            {% if valeria == valor %}
                                <a href="http://127.0.0.1:8000/{{datos}}/">
                                    <!-- <p> {{datos}} </p> -->
                            {% endif %}
                        {% endfor %}

                            <i class="menu-icon fa fa-caret-right"></i>
                            {{ valor }}
                        </a>
                        <b class="arrow"></b>
                            

                    </li>
                    {% else %}
                    <li class="">
                            <a href="top-menu.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ key }}
                            </a>
                            <b class="arrow"></b>
                                
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
            
        {% endfor %}
    </ul>
<!-- 
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
                    Administración
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="top-menu.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Usuarios
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="two-menu-1.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Dispositivos
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>    
        <li class="">
            <a href="widgets.html">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> Dispositivos </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="calendar.html">
                <i class="menu-icon fa fa-calendar"></i>
                <span class="menu-text">
                    Reportes

                    <span class="badge badge-transparent tooltip-error" title="2 Important Events">
                        <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                    </span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
     --><!-- /.nav-list -->

    <!-- <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div> -->
<!-- </div> -->